@media (max-width: 768px) {
  .navbar-menu-items {
    display: none;
  }

  .aboutme-textsection-d {
    display: none;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.header-container {
  display: flex;
  height: 4rem;
  color: #fff;
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  width: 4.5rem;
  height: 1rem;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hamburger-icon {
  color: white;
  padding-right: 1rem;
}

ul {
  list-style-type: none;
}

.mobile-menu-list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3c3a39;
  padding: 24px;
  margin-top: -30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  transform: translateX(-200%);
}

.mobile-menu-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.x-closeicon-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.x-close-icon {
  width: 20px;
  height: 20px;
  z-index: 3;
  margin-top: 50px;
  margin-right: 15px;
}

.modal-buttons a {
  text-decoration: none;
  color: white;
}

.mobile-menu-list ul li a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff5e1;
  padding-bottom: 15px;
}

.mobile-menu-list ul li {
  border-bottom: 1px solid #6f6c6b;
  width: 98%;
}

.show {
  display: block;
}

.headline-container {
  display: flex;
  flex-direction: column;
  padding: 8.5rem 1.5rem;
  background: #1c1a19;
  background-image: url('images/background-image.png');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: 8.5rem;
  background-position: right bottom;
  overflow: hidden;
  gap: 1em;
  justify-content: space-between;
}

.heading-text {
  margin-top: 5.5rem;
  color: #ff6b00;
  width: 20rem;
  height: 7rem;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
}

.subheader {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.description-text {
  width: 20.5rem;
  height: 7.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.icon-wrap {
  display: flex;
  padding: 1rem 1rem;
  width: 12.5rem;
  gap: 0.5rem;
  height: 2.5rem;
}

.icon {
  margin: 0.5rem;
}

/* 2nd Part Portfolio Section CSS */

.projects-card-container {
  display: flex;
  grid-template-columns: 100%;
  padding: 7.5rem 1.5rem;
  grid-gap: 1.5rem;
  background-color: #e5e5e5;
  position: relative;
  flex-direction: column;
}

.topcard-header-container {
  color: #1c1a19;
}

.myRecentWorksHeading {
  font-family: 'Crete Round', serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: 0;
  text-align: left;
  left: 1.5rem;
  color: #1c1a19;
  width: 20.4375rem;
}

.section-break-firstline {
  width: 20.4375rem;
  margin-bottom: 3.5rem;
  background-color: #212121;
  margin-top: 3.125rem;
}

.css-button {
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #091e42;
  padding: 0.625rem 0.75rem;
  border: 1px solid #8993a4;
  font-style: normal;
  height: 2.5rem;
  width: 3.4375rem;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}

.html-button {
  width: 4.1875rem;
  height: 2.5rem;
  border: 1px solid #8993a4;
  padding: 0.625rem 0.75rem;
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #091e42;
  display: inline-block;
}

.bootstrap-button {
  width: 115px;
  height: 40px;
  border: 1px solid #8993a4;
  padding: 0.625rem 0.75rem;
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #091e42;
  text-align: center;
  display: inline-block;
}

.ruby-button {
  width: 61px;
  height: 40px;
  border: 1px solid #8993a4;
  padding: 0.625rem 0.75rem;
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #091e42;
  text-align: center;
  display: inline-block;
}

.postgresql-button {
  width: 120px;
  height: 40px;
  border: 1px solid #8993a4;
  padding: 0.625rem 0.75rem;
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #091e42;
  text-align: center;
  display: inline-block;
}

.general-card-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background: url("images/desktop-img/general4-imgholder.png");
  background-size: cover;
}

.general-card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background:
    linear-gradient(
      180.45deg,
      rgb(38 38 38 / 0%) 0.75%,
      rgb(38 38 38 / 90%) 61.94%
    ),
    url("images/projects-img/JungleManiacs.png");
  background-size: cover;
}

.general-card-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background:
    linear-gradient(
      180.45deg,
      rgb(38 38 38 / 0%) 0.75%,
      rgb(38 38 38 / 90%) 61.94%
    ),
    url('/images/desktop-img/general3-imgholder.png');
  background-size: cover;
}

.general-card-four {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background:
    linear-gradient(
      180.45deg,
      rgb(38 38 38 / 0%) 0.75%,
      rgb(38 38 38 / 90%) 95.94%
    ),
    url("images/desktop-img/general4-imgholder.png");
  background-size: cover;
}

.general-card-five {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background:
    linear-gradient(
      180.45deg,
      rgb(38 38 38 / 0%) 0.75%,
      rgb(38 38 38 / 90%) 95.94%
    ),
    url("images/desktop-img/general2-imgholder.png");
  background-size: cover;
}

.general-card-six {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  width: 20.4375rem;
  height: 24.125rem;
  margin: 0;
  background:
    linear-gradient(
      180.45deg,
      rgb(38 38 38 / 0%) 0.75%,
      rgb(38 38 38 / 90%) 95.94%
    ),
    url("images/projects-img/BudgetApp.png");
  background-size: cover;
}

.card-heading {
  font-family: 'Crete Round', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  margin-top: 4.5rem;
  margin-left: 0.8125rem;
  margin-right: 0.8125rem;
  text-align: left;
  color: #fff;
}

.card-text-segment {
  font-family: Inter, serif;
  font-size: 0.9375rem;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
  color: #fff;
}

.card-buttons {
  width: 15.4375rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.gc-project-button {
  width: 20.4375rem;
  height: 3rem;
  left: 0;
  top: 0;
  border: none;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.general-card-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.general-card-button:active {
  background-color: #e05304;
}

.general-card-button:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #e9a994;
}

/* Popup Mobile First Design */

.project-details-popup.show {
  display: block;
}

.project-details-popup {
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  backdrop-filter: blur(5px);
  overflow: scroll;
  height: 205vh;
  width: 100vw;
  position: fixed;
  top: 6px;
  z-index: 5000;
  display: none;
  align-self: center;
}

.project-details-inner {
  background-color: #fff;
  padding: 15px 16px 15px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 0 black;
  margin: 0 15px 0 15px;
}

.project-details-header {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.pop-head {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

#close-icon-detail {
  display: block;
  background: url(/images/icons/Cancel-Icon.png) no-repeat center/cover;
  width: 20px;
  height: 20px;
}

.tech-list {
  display: flex;
  bottom: 1rem;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 35px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: -20px;
}

.popup-content img {
  border: 2px inset #eee;
  height: 167px;
  width: 314px;
}

.popup-lower {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  flex-wrap: wrap;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  margin-top: 20px;
}

.modal-buttons div {
  align-items: center;
  gap: 15px;
  display: flex;
}

.live-icon {
  background: url(/images/icons/export-icon.png) no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
}

.source-icon {
  background: url(/images/media-icons/github-icon.svg) no-repeat center center/cover;
  width: 24px;
  height: 24px;
  display: block;
}

.btn-details {
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  line-height: 24px;
  font-size: 17px;
  padding: 12px;
  font-weight: 700;
  background-color: #f55800;
}

.btn-details:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.btn-details:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btn-details:disabled {
  border: 1px solid transparent;
  color: #5b5957;
  background-color: #e9a994;
}

/* About Me Section */

.aboutme-container {
  display: flex;
  height: 100%;
  background-color: #1c1a19;
  flex-direction: column;
  padding-top: 120px;
  position: relative;
  background-repeat: no-repeat;
  margin-left: -2px;
}

.aboutme-header {
  width: 327;
  height: 79px;
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 72px;
}

.aboutme-textsection {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-top: 12px;
  margin: 5px 24px 0 24px;
}

.resume-button-container {
  text-decoration: none;
}

.resume-button {
  width: 156px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 24px;
}

.resume-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.resume-button:active {
  background-color: #e05304;
}

.secondBackgroundImage {
  background: url('images/PuskarPP.jpeg');
  height: 360px;
  width: 335px;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 470px;
}

.aboutme-sectionline {
  width: 327px;
  top:900px;
  position: absolute;
  border: 1px solid #fff;
  align-items: center;
  margin-left: 24px;
}

.myskills-container {
  display: flex;
  margin-top: 550px;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.skill-list {
  font-family: "InaiMathi", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  list-style: none;
}

.tech-stacks {
  font-style: normal;
  font-family: "Inter", sans-serif;
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Contact Form Styles */

.contactform-maincontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contactform-headercontainer {
  margin: 69px 25px 55px 23px;
}

.contactform-headertext {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #172b4d;
  line-height: 2.7rem;
}

.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.fullname-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration-color: #979493;
  padding-left: 3%;
  border: none;
}

.namefield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.email-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 24px;
  padding-left: 3%;
  border: none;
}

.emailfield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.error-text {
  color: red;
}

.writeme-something-field {
  width: 327px;
  height: 38px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 6%;
  padding-left: 3%;
  padding-bottom: 40%;
  background: #fbf8f7;
  color: #3c3a39;
  border: none;
}

.getintouch-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6b00;
  color: #fff;
  width: 8rem;
  height: 3rem;
  border: none;
  margin-top: 15px;
}

.getintouch-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.getintouch-button:active {
  background-color: #e05304;
}

.footer-dividerline {
  margin-top: 5rem;
  width: 100%;
  border: 0.01rem solid #dfe1e6;
}

.buttom-icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
}

.footer-bottom {
  width: 8.3rem;
  height: 0.3rem;
  margin-bottom: 0.8rem;
  margin-left: 7.4rem;
  margin-right: 7.6rem;
  background-color: #0d151e;
  border: 0.01rem solid;
  border-radius: 1.5rem;
}

/* Media Queries for Desktop Version */

@media (min-width: 769px) and (max-width: 1920px) {
  body {
    overflow-x: hidden;
  }

  .logo-container {
    width: 70px;
    height: 16px;
    line-height: 24px;
    margin-left: 100px;
    margin-bottom: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0;
    margin-right: 2px;
  }

  .hamburger-icon {
    display: none;
  }

  .navbar-menu-items {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: 25px;
  }

  .navbarItem {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-right: 32px;
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
    width: 60px;
    height: 18px;
  }

  .navbarMailIcon {
    align-items: center;
    margin-top: -4px;
  }

  .mobile-menu-list {
    display: none;
  }

  .x-close-icon {
    display: none;
  }

  .headline-container {
    width: 100%;
    height: 550px;
    background-image: url('images/desktop-img/header-background-d.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 24px;
    margin-bottom: -20px;
  }

  .heading-text {
    width: 566px;
    order: 1;
    margin-left: 143px;
    margin-top: -30px;
  }

  .subheader {
    width: 566px;
    margin-left: 143px;
    order: 2;
    font-weight: 500;
    font-size: 32px;
  }

  .description-text {
    font-weight: 500;
    font-size: 20px;
    width: 566px;
    height: 123px;
    margin-left: 143px;
    order: 3;
  }

  .icon-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20px;
    height: 10px;
    left: 0.5%;
    right: 96.11%;
    top: 25.37%;
    bottom: 89.19%;
    order: 2;
    margin-top: 40px;
    margin-left: 16px;
  }

  /* Top Card Container Section */

  .topcard-section {
    width: 100%;
    margin-left: 125px;
    margin-right: 102px;
    margin-bottom: 350px;
  }

  .topcard-header-container {
    display: flex;
    margin-left: 110px;
  }

  .section-break-firstline {
    width: 794px;
    margin-top: 30px;
    background-color: #212121;
    height: 2px;
  }

  .general-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 24px 14px;
  }

  /* #cardA {
    gap: 0.2rem;
  } */

  .gc-project-button {
    display: none;
  }

  .card-buttons {
    margin-top: -15px;
    margin-bottom: 15px;
  }

  .card-heading {
    margin-top: -10px;
  }

  .card-text-segment {
    margin-top: -10px;
  }

  .general-card-one .card-buttons {
    display: none;
  }

  .general-card-one button {
    display: block;
  }

  .general-card-one:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-two:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-three:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-four:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-five:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-six:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-one:hover .gc-project-button {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .general-card-two:hover .gc-project-button {
    display: block;
  }

  .general-card-three:hover .gc-project-button {
    display: block;
  }

  .general-card-four:hover .gc-project-button {
    display: block;
  }

  .general-card-five:hover .gc-project-button {
    display: block;
  }

  .general-card-six:hover .gc-project-button {
    display: block;
  }

  /* Popup */

  .project-details-popup {
    padding: 3rem 7.3rem;
    overflow: scroll;
  }

  .project-details-inner {
    padding: 24px;
  }

  .project-details-inner img {
    width: 50%;
    max-height: 448px;
    max-width: 760px;
  }

  .popup-content img {
    border: 2px inset #eee;
    height: 467px;
    width: 614px;
  }

  .project-details-header {
    gap: 10px;
  }

  .pop-head {
    justify-content: space-between;
  }

  .tech-list {
    margin-bottom: 70px;
    margin-top: 10px;
  }

  .tech-list li {
    border: 1px solid #8993a4;
    padding: 10px 12px;
    margin-bottom: 10px;
    background-color: #ffffff3a;
    font-family: "Inter", sans-serif;
  }

  .popup-content {
    flex-direction: row;
    margin-top: -20px;
  }

  .popup-lower {
    justify-content: space-between;
  }

  .popup-lower p {
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .modal-buttons {
    margin-top: 30px;
    display: flex;
    gap: -12px;
    justify-content: flex-start;
  }

  /* About Profile Section */

  .aboutme-container {
    width: 100%;
    height: 1050px;
    display: flex;
  }

  .aboutme-header {
    margin-left: 100px;
  }

  .aboutme-textsection {
    display: none;
  }

  .aboutme-textsection-d {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-top: 24px;
    margin-left: 100px;
    display: flex;
    width: 566px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
  }

  .resume-button-container {
    text-decoration: none;
  }

  .resume-button-d {
    margin-left: 102px;
  }

  .secondBackgroundImage {
    background: url('images/PuskarPP.jpeg');
    height: 360px;
    width: 335px;
    border-radius: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 70px;
  }

  .aboutme-sectionline {
    width: 85%;
    top: 540px;
    position: absolute;
    border: 1px solid #fff;
    align-items: center;
    margin-left: 100px;
    margin-right: 15px;
  }

  .myskills-container {
    margin-left: -25px;
    display: flex;
    margin-top: 300px;
    color: #fff;
    text-align: center;
    justify-content: center;
  }

  .main-techstacks-wrap {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    text-align: start;
    margin-top: -78px;
  }

  .main-techstacks-wrap > :nth-child(3) {
    margin-top: -4px;
  }

  .main-techstacks-wrap > :nth-child() {
    margin-top: -3px;
  }

  .techstacks-subwrap-2 {
    margin-left: 70px;
  }

  .techstacks-subwrap-3 {
    margin-left: 110px;
  }

  /* Form Section */

  .contactform-maincontainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-left: 192px;
    margin-top: 15px;
    height: 400px;
  }

  .contactform-headertext {
    text-align: start;
    width: 373px;
    margin-left: -120px;
    align-items: center;
  }

  .contactform-container {
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    margin-left: -70px;
  }

  .fullname-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .namefield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .email-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .emailfield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .error-text {
    color: red;
  }

  .writeme-something-field {
    display: flex;
    background-color: #fbf8f7;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #3c3a39;
    padding: 5px;
    padding-bottom: 50px;
    padding-left: 20px;
    height: 90px;
    margin: 50px;
    margin-top: -1px;
    width: 675px;
  }

  .getintouch-button {
    margin-left: -545px;
    margin-top: -55px;
  }

  .footer-bottom {
    display: none;
  }
}
