@media (max-width: 768px) {
  .portfolioImageDesktop {
    display: none;
  }

  #navbarElement {
    display: none;
  }

  .printingDataHeading-c2-desktop {
    display: none;
  }

  .text-segment-c2-desktop {
    display: none;
  }

  .printingDataHeading-c3-d {
    display: none;
  }

  .text-segment-c3-d {
    display: none;
  }

  .printingDataHeading-c4-d {
    display: none;
  }

  .text-segment-c4-d {
    display: none;
  }

  .aboutme-textsection-d {
    display: none;
  }

  .secondBackgroundImage-d {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.header-container {
  display: flex;
  height: 4rem;
  color: #fff;
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  width: 4.5rem;
  height: 1rem;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hamburger-icon {
  color: white;
  padding-right: 1rem;
}

.headline-container {
  display: flex;
  flex-direction: column;
  padding: 8.5rem 1.5rem;
  background: #1c1a19;
  background-image: url('images/background-image.png');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: 8.5rem;
  background-position: right bottom;
  overflow: hidden;
  gap: 1em;
  justify-content: space-between;
}

.heading-text {
  margin-top: 5.5rem;
  color: #ff6b00;
  width: 20rem;
  height: 7rem;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
}

.subheader {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.description-text {
  width: 20.5rem;
  height: 7.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.icon-wrap {
  display: flex;
  padding: 1rem 1rem;
  width: 12.5rem;
  gap: 0.5rem;
  height: 2.5rem;
}

ul {
  list-style-type: none;
}

.icon {
  margin: 0.5rem;
}

/* 2nd Part Portfolio Section CSS */

.top-card-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px repeat(3, auto);
  min-height: 90px;
  width: 100%;
}

.myRecentWorksHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin-top: 132px;
  width: 327px;
  height: 35px;
  margin-left: 27px;
}

.section-break-firstline {
  width: 327px;
  margin-top: 50px;
  position: absolute;
  border: 0.5px solid #212121;
  align-items: center;
  margin-left: 26px;
  margin-bottom: 30px;
}

.imageWrapper {
  transform: scale(1);
}

.portfolioImageMobile {
  display: inline;
  width: 327px;
  height: 237px;
  margin-left: 27px;
}

.multiPostStories {
  display: flex;
  align-items: center;
  font-family: 'crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  width: 327px;
  height: 36px;
  color: #091e42;
  margin-top: 14px;
  margin-left: 27px;
  margin-bottom: 0;
}

.page-information {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 327px;
  height: 147px;
  line-height: 24px;
  margin-top: 12px;
  color: #091e42;
  margin-left: 27px;
}

.tech-icons {
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  list-style: none;
  margin: 0.7rem;
  margin-left: 27px;
}

.stackButton {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 10px;
  margin-top: 20px;
}

.topcontainer-seeproject-button {
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  display: inline-block;
  cursor: pointer;
  width: 124px;
  margin-top: 4px;
  margin-left: 25px;
}

.topcontainer-seeproject-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.topcontainer-seeproject-button:active {
  background-color: #e05304;
}

.general-card-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(6, 370px);
  grid-template-columns: 100px;
  margin-left: 138px;
}

.general-card-one {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.general-card-two {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.general-card-three {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.general-card-four {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.general-card-five {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.general-card-six {
  background-image: url('images/GeneralCardImgPlaceholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: 372px;
  width: 327px;
  gap: 10px;
}

.printingDataHeading {
  display: flex;
  list-style: none;
  width: 295px;
  height: 81px;
  margin-top: 40px;
  padding-left: 13px;
  padding-top: 30px;
  line-height: 44px;
  font-size: 32px;
  font-style: normal;
  font-family: 'create Round', sans-serif;
  color: #fff;
}

.text-segment {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  width: 300px;
  height: 100px;
  line-height: 24px;
  margin-top: 30px;
  padding-left: 13px;
}

.builtWith {
  margin-top: 0;
  padding-left: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.buttonOfTechStack {
  text-align: centre;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 12px;
  margin-top: 2px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  color: #fff;
  padding: 10px 12px;
}

.general-card-button {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 16px;
  color: #fff;
  border: none;
  background-color: #ff6b00;
}

.general-card-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.general-card-button:active {
  background-color: #e05304;
}

.aboutme-container {
  display: flex;
  height: 100%;
  background-color: #1c1a19;
  flex-direction: column;
  padding-top: 120px;
  position: relative;
  margin-top: 275px;
  background-repeat: no-repeat;
  margin-left: -2px;
}

.aboutme-header {
  width: 327;
  height: 79px;
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 72px;
}

.aboutme-textsection {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-top: 12px;
  margin: 5px 24px 0 24px;
}

.resume-button {
  width: 156px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 24px;
}

.resume-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.resume-button:active {
  background-color: #e05304;
}

.secondBackgroundImage {
  background: url('images/background-image2.png');
  height: 260px;
  width: 160px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 370px;
}

.aboutme-sectionline {
  width: 327px;
  top: 640px;
  position: absolute;
  border: 1px solid #fff;
  align-items: center;
  margin-left: 24px;
}

.myskills-container {
  display: flex;
  margin-top: 300px;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.skill-list {
  font-family: "InaiMathi", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  list-style: none;
}

.tech-stacks {
  font-style: normal;
  font-family: "Inter", sans-serif;
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Contact Form Styles */

.contactform-maincontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contactform-headercontainer {
  margin: 69px 25px 55px 23px;
}

.contactform-headertext {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #172b4d;
  line-height: 2.7rem;
}

.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.fullname-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration-color: #979493;
  padding-left: 3%;
  border: none;
}

.namefield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.email-field {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 24px;
  padding-left: 3%;
  border: none;
}

.emailfield-bottomline {
  margin-top: -20px;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  width: 324px;
  border: 0.01rem solid #dbd8d7;
}

.writeme-something-field {
  width: 327px;
  height: 38px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 6%;
  padding-left: 3%;
  padding-bottom: 40%;
  background: #fbf8f7;
  color: #3c3a39;
  border: none;
}

.getintouch-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6b00;
  color: #fff;
  width: 8rem;
  height: 3rem;
  border: none;
  margin-top: 15px;
}

.getintouch-button:hover {
  border: 0.01rem solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.getintouch-button:active {
  background-color: #e05304;
}

.footer-dividerline {
  margin-top: 5rem;
  width: 100%;
  border: 0.01rem solid #dfe1e6;
}

.buttom-icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
}

.footer-bottom {
  width: 8.3rem;
  height: 0.3rem;
  margin-bottom: 0.8rem;
  margin-left: 7.4rem;
  margin-right: 7.6rem;
  background-color: #0d151e;
  border: 0.01rem solid;
  border-radius: 1.5rem;
}

/* Media Queries for Desktop Version */

@media (min-width: 769px) and (max-width: 1920px) {
  body {
    overflow-x: hidden;
  }

  .logo-container {
    width: 70px;
    height: 16px;
    line-height: 24px;
    margin-left: 100px;
    margin-bottom: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0;
    margin-right: 2px;
  }

  .hamburger-icon {
    display: none;
  }

  #navbarElement {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: 25px;
  }

  .navbarItem {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-right: 32px;
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
    width: 60px;
    height: 18px;
  }

  .navbarMailIcon {
    align-items: center;
    margin-top: -4px;
  }

  .headline-container-d {
    width: 100%;
    height: 550px;
    background-image: url('images/desktop-img/header-background-d.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 24px;
    margin-bottom: -20px;
  }

  .heading-text {
    width: 566px;
    order: 1;
    margin-left: 143px;
    margin-top: -30px;
  }

  .subheader {
    width: 566px;
    margin-left: 143px;
    order: 2;
    font-weight: 500;
    font-size: 32px;
  }

  .description-text {
    font-weight: 500;
    font-size: 20px;
    width: 566px;
    height: 123px;
    margin-left: 143px;
    order: 3;
  }

  .icon-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20px;
    height: 10px;
    left: 0.5%;
    right: 96.11%;
    top: 25.37%;
    bottom: 89.19%;
    order: 2;
    margin-top: 40px;
    margin-left: 16px;
  }

  /* Top Card Container Section */

  .topcard-section {
    width: 100%;
    margin-left: 125px;
    margin-right: 102px;
    margin-bottom: 350px;
  }

  .top-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .topcard-header-container {
    display: flex;
    margin-left: 30.5px;
    margin-bottom: 50px;
  }

  .myRecentWorksHeading {
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    margin-left: -30px;
    width: 314px;
  }

  .section-break-firstline {
    height: 0;
    margin-top: 150px;
    width: 680px;
    margin-left: 310px;
    border: 1px solid #212121;
  }

  .topcard-body {
    display: flex;
  }

  .portfolioImageMobile {
    display: none;
  }

  .portfolioImageDesktop {
    display: flex;
    margin-top: 55px;
    margin-right: -78px;
    height: 436px;
    width: 540px;
  }

  .portfolioImageDesktop:hover {
    transform: scale(0.9);
    transition: all 0.7s;
  }

  .right-section {
    width: 435px;
    height: 426px;
    margin-left: 20px;
    margin-top: 52px;
  }

  .multiPostStories {
    display: flex;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 0;
    height: -40px;
    width: 448px;
    font-size: 36px;
  }

  .page-information {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 0;
    height: 89px;
    width: 448px;
    font-size: 19px;
  }

  .tech-icons {
    display: flex;
    margin-top: 38px;
    margin-left: 80px;
    margin-right: 0;
    height: 0;
    width: 0;
    font-size: 0;
  }

  .topcontainer-seeproject-button {
    display: flex;
    margin-top: 87px;
    margin-left: 80px;
    margin-right: 0;
    height: 55px;
    width: 124px;
    font-size: 17px;
    align-items: center;
  }

  .general-card-container {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-template-rows: repeat(2, 404px);
    justify-items: center;
    width: 100%;
    max-width: 1440px;
    height: 554px;
    justify-content: center;
    margin: 28px 100px 0 -130px;
  }

  .general-card-one-d {
    background-image: url('images/desktop-img/general1-imgholder.png');
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    margin-top: -22px;
    margin-left: 5px;
  }

  .general-card-one {
    display: grid;
  }

  .printingDataHeading {
    display: none;
  }

  .text-segment {
    display: none;
  }

  .builtWith-g1 {
    display: none;
  }

  .general-card-button {
    margin-top: 357px;
  }

  .general-card-two-d {
    background-image: url('images/desktop-img/general2-imgholder.png');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0;
    height: 387px;
    width: 327px;
    margin-left: 5px;
  }

  .printingDataHeading-c2-desktop {
    display: flex;
    list-style: none;
    width: 295px;
    height: 81px;
    margin-top: 100px;
    padding-left: 13px;
    padding-top: 30px;
    line-height: 44px;
    font-size: 30px;
    font-style: normal;
    font-family: "create Round", sans-serif;
    color: #fff;
  }

  .text-segment-c2-desktop {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 300px;
    height: 100px;
    line-height: 24px;
    margin-top: 25px;
    padding-left: 13px;
  }

  .builtWith {
    margin-top: -7px;
  }

  .general-card-three-d {
    background-image: url('images//desktop-img/general3-imgholder.png');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0;
    height: 387px;
    width: 327px;
    margin-left: 5px;
  }

  .printingDataHeading-c3-d {
    display: flex;
    list-style: none;
    width: 295px;
    height: 81px;
    margin-top: 143px;
    padding-left: 10px;
    padding-top: 30px;
    line-height: 44px;
    font-size: 30px;
    font-style: normal;
    font-family: "Crete Round", sans-serif;
    color: #fff;
  }

  .text-segment-c3-d {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 300px;
    height: 100px;
    line-height: 24px;
    margin-top: -10px;
    padding-left: 13px;
  }

  .general-card-four-d {
    background-image: url('images//desktop-img/general4-imgholder.png');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0;
    height: 388px;
    background-size: cover;
    width: 327px;
    margin-left: 5px;
  }

  .printingDataHeading-c4-d {
    display: flex;
    list-style: none;
    width: 295px;
    height: 81px;
    margin-top: 90px;
    padding-left: 13px;
    padding-top: 30px;
    line-height: 44px;
    font-size: 30px;
    font-style: normal;
    font-family: "create Round", sans-serif;
    color: #fff;
  }

  .text-segment-c4-d {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 300px;
    height: 94px;
    line-height: 24px;
    margin-top: 35px;
    padding-left: 13px;
  }

  .general-card-five-d {
    background-image: url('images/desktop-img/general2-imgholder.png');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0;
    height: 388px;
    width: 327px;
    margin-left: 5px;
  }

  .general-card-six-d {
    background-image: url('images/desktop-img/general3-imgholder.png');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0;
    height: 388px;
    width: 327px;
    margin-left: 5px;
  }

  .printingDataHeading-c6-d {
    display: flex;
    list-style: none;
    width: 295px;
    height: 81px;
    margin-top: 130px;
    padding-left: 10px;
    padding-top: 30px;
    line-height: 44px;
    font-size: 30px;
    font-style: normal;
    font-family: "create Round", sans-serif;
    color: #fff;
  }

  .general-card-button-d {
    display: none;
  }

  /* About Profile Section */

  .aboutme-container {
    width: 100%;
    height: 1050px;
    display: flex;
  }

  .aboutme-header {
    margin-left: 100px;
  }

  .aboutme-textsection {
    display: none;
  }

  .aboutme-textsection-d {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-top: 24px;
    margin-left: 100px;
    display: flex;
    width: 566px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
  }

  .resume-button-d {
    margin-left: 102px;
  }

  .secondBackgroundImage {
    display: none;
  }

  .secondBackgroundImage-d {
    position: absolute;
    bottom: 610px;
    right: 0;
    width: 581px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/desktop-img/backgroundimg-2-d.png');
  }

  .aboutme-sectionline {
    width: 85%;
    top: 540px;
    position: absolute;
    border: 1px solid #fff;
    align-items: center;
    margin-left: 100px;
    margin-right: 15px;
  }

  .myskills-container {
    margin-left: -25px;
    display: flex;
  }

  .main-techstacks-wrap {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    text-align: start;
    margin-top: -78px;
  }

  .main-techstacks-wrap > :nth-child(3) {
    margin-top: -4px;
  }

  .main-techstacks-wrap > :nth-child() {
    margin-top: -3px;
  }

  .techstacks-subwrap-2 {
    margin-left: 70px;
  }

  .techstacks-subwrap-3 {
    margin-left: 110px;
  }

  /* Form Section */

  .contactform-maincontainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-left: 192px;
    margin-top: 15px;
    height: 400px;
  }

  .contactform-headertext {
    text-align: start;
    width: 373px;
    margin-left: -120px;
    align-items: center;
  }

  .contactform-container {
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    margin-left: -70px;
  }

  .fullname-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .namefield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .email-field {
    margin-right: 340px;
    padding: 5px;
    padding-left: 20px;
  }

  .emailfield-bottomline {
    margin: -20px -20px 0 -20px;
    width: 670px;
    border: 1px solid #dbd8d7;
  }

  .writeme-something-field {
    display: flex;
    background-color: #fbf8f7;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #3c3a39;
    padding: 5px;
    padding-bottom: 50px;
    padding-left: 20px;
    height: 90px;
    margin: 50px;
    margin-top: -1px;
    width: 675px;
  }

  .getintouch-button {
    margin-left: -545px;
    margin-top: -55px;
  }

  .footer-bottom {
    display: none;
  }
}
